
<div style="position: absolute; height: 40%; width: 20%; background-color: lightgray; top: 0px; right: 0px; overflow-y: auto;">
  <p *ngFor="let furniture of furnitureGroups;" (click)="setSelectedFurnitureGroup(furniture.label)" [ngClass]="getSelectedFurnitureGroup() == furniture.label ? 'selected-layer' : ''"
  style="margin:0">
    {{furniture.label}}
 </p>
</div>

<div style="position: absolute; height: 60%; width: 20%; background-color: lightgray; top: 40%; right: 0px; overflow-y: auto;">
  <ng-container *ngFor="let furniture of furnitureTiles; let i = index">
    <div style="display: flex;">
    <ng-container *ngFor="let entry of furniture.entries">
    <div (click)="setSelectedFurniture(furniture, entry.orient)" [ngClass]="(selectedFurniture == furniture && selectedFurnitureOrient == entry.orient) ? 'selected-layer' : ''" style="display: flex; position: relative;" 
    [style.height]="100 + (entry.xSize > entry.ySize ? (entry.xSize * 30) : (entry.ySize * 30)) + 'px'"
    [style.width]="100 + (entry.xSize > entry.ySize ? (entry.xSize * 40) : (entry.ySize * 40)) + 'px'">
      
        <p>{{entry.orient}}</p>
        <div >
        <ng-container *ngFor="let fTile of entry.tiles">
          <img id="{{fTile.x + ', ' + fTile.y}}" class="furnitureTile" [src]="fTile.url" [style.left]="(fTile.x * 26) + (abs(fTile.y - entry.ySize) * 26) + 'px'" 
                [style.bottom]="(abs(fTile.x - entry.xSize) * 13) + (abs(fTile.y - entry.ySize) * 13) + 'px'">
        </ng-container>
        </div>
    </div>
  </ng-container>
</div>
  </ng-container>
</div>


<!-- <div style="position: absolute; height: 60%; width: 20%; background-color: lightgray; top: 40%; right: 0px; overflow-y: auto;">
    <ng-container *ngFor="let tile of tiles; let i = index">
        <img (click)="setSelectedTile(tile.name!)" [ngClass]="getSelectedTile() == tile.name! ? 'highlighted-tile' : ''" 
        [src]="tile.url" alt="Tile" class="tile">
      </ng-container>
</div> -->