<div class="toolbar">
    <button class="toolbar-button" (click)="setTool('tool-tile')"><img src="assets/icons/icon_clone.png"></button>
    <button class="toolbar-button" (click)="setTool('tool-draw-room')"><img src="assets/icons/icon_pencil.png"></button>
    <button class="toolbar-button" (click)="setTool('tool-door')"><img src="assets/icons/icon_door.png"></button>
    <button class="toolbar-button" (click)="setTool('tool-window')"><img src="assets/icons/icon_window.png"></button>
    <button class="toolbar-button" (click)="openFileUpload()"><img src="assets/icons/icon_harddisk.png"></button>
    <button class="toolbar-button" (click)="createXml()"><img src="assets/icons/icon_harddisk.png"></button>
    <div class="btn-group" dropdown>
        <button id="button-custom-html" dropdownToggle type="button" class="btn btn-secondary dropdown-toggle"
                aria-controls="dropdown-custom-html">
                <div style="width: 16px; height: 16px;display: inline-flex; margin-right: 5px;" [ngStyle]="{'background':'rgb(' + getSelectedRoom()?.Color + ')'}"></div>
          {{getSelectedRoom()?.Name}} <span class="caret"></span>
        </button>
        <ul id="dropdown-custom-html" *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="button-custom-html">
          <li role="menuitem" *ngFor="let room of getRooms()"><a (click)="setRoom(room)" class="dropdown-item" [routerLink]=""><span>
            <div style="width: 16px; height: 16px;display: inline-flex; margin-right: 5px;" [ngStyle]="{'background':'rgb(' + room.Color + ')'}"></div>{{room.Name}}</span></a></li>
        </ul>
    </div>
    <button class="toolbar-button" (click)="upFloor()"><img src="assets/icons/icon_floorup.png"></button>
    <button class="toolbar-button" (click)="downFloor()"><img src="assets/icons/icon_floordn.png"></button>

    <button class="toolbar-button" (click)="toggleWindow()"><img src="assets/icons/icon_tile.png"></button>
</div>