<div style="display: flex; height: 100%; width: 70%;">
  <p style="position: absolute;">{{currentCoords}}</p>
  <svg style="max-width: 100%; max-height: 100%; width: 100%; height: 100%; overflow: visible;" width="10000" height="10000" x="5000" y="5000" viewBox="1500 1500"
  >
    <!-- Define the size of each square -->
    <defs>
      <path id="tile" d="M0,0 L100,50 L200,0 L100,-50 Z"/>
      <mask id="tile-mask" maskUnits="userSpaceOnUse" x="0" y="0" width="64" height="128">
        <rect x="0" y="0" width="64" height="128" fill="white"/>
      </mask>
    </defs> 

    <!--Placed Tiles-->
    <ng-container *ngFor="let grid of rowArray; index as j">
      <g class="grid-{{ j }}" id="tile-container">
        <ng-container *ngFor="let _ of colArray; index as i">
          <!-- <image *ngIf="(tileExists(i,j, 'Floor') && !ghostTileExists(i,j, 'Floor') && !tileHidden(i,j, 'Floor')) || ghostTileExists(i,j, 'Floor')" 
          [attr.xlink:href]="!ghostTileExists(i,j,'Floor') ? getIndividualTile(getTileAt(i,j, 'Floor')?.name!, 'floorLayerHTML') : getIndividualTile(selectedTile)" width="200" 
          [attr.x]="i*100 + 100" [attr.y]="i*50 - 300" image-rendering="pixelated" style="pointer-events: none;"/>

          <image *ngIf="(tileExists(i,j, 'Walls') && !ghostTileExists(i,j, 'Walls') && !tileHidden(i,j, 'Walls')) || ghostTileExists(i,j, 'Walls')" 
          [attr.xlink:href]="!ghostTileExists(i,j,'Walls') ? getIndividualTile(getTileAt(i,j, 'Walls')?.name!, 'wallLayerHTML') : getIndividualTile(selectedTile)" width="200" 
          [attr.x]="i*100 + 100" [attr.y]="i*50 - 300" image-rendering="pixelated" style="pointer-events: none;"/> -->
          <ng-container *ngFor="let layer of layers">
            <image *ngIf="(tileExists(i,j, layer) && !ghostTileExists(i,j, layer) && !tileHidden(i,j, layer)) || ghostTileExists(i,j, layer)" 
            [attr.xlink:href]="!ghostTileExists(i,j,layer) ? getIndividualTile(getTileAt(i,j, layer)?.name!) : getIndividualTile(selectedTile)" width="200" 
            [attr.x]="i*100 + 100" [attr.y]="i*50 - 300" image-rendering="pixelated" style="pointer-events: none;"/>
        </ng-container>
        </ng-container>
      </g>
    </ng-container>

    <!--Overlay-->
    <ng-container *ngFor="let grid of rowArray; index as j">
      <g class="grid-{{ j }}" id="overlay-container">
        <ng-container *ngFor="let _ of colArray; index as i">
          <g>
            <!-- <path id="tile" d="M 300 150 L 400 100 L 200 0 L 100 50 Z" *ngIf="i === 0 && j === 0" fill="#ffffff50"/> -->
            <use href="#tile" *ngIf="displayOverlay(i,j)" fill="#ffffff50"/>
          </g>
        </ng-container>
      </g>
    </ng-container>

    <!-- Grid -->
    <ng-container *ngFor="let grid of rowArray; index as j">
      <g class="grid-{{ j }}" id="grid-container">
        <ng-container *ngFor="let _ of colArray; index as i">
          <use href="#tile" [attr.fill]="getTileFill(i,j)" (click)="clickTile($event, i,j)" (mouseenter)="hoverTile(i,j)" 
          (mousedown)="beginDrag($event, i, j)" (mouseup)="endDrag($event, i,j)"/>
        </ng-container>
      </g>
    </ng-container>
</svg>
</div>