$row: 20;
$col: 20;

@for $j from 0 through ($col){

    .grid-#{$j} {
        transform: translate(#{$j * -100px + 100px}, #{$j * 50px - 50px});
    }

    .grid-#{$j} use {
      stroke: #000000;
      stroke-dasharray: 3;
      stroke-width: 0.5;
      transition: fill .2s, transform .2s;
    }
    @for $i from 0 through ($row) {
      .grid-#{$j} use:nth-child(#{$i}) {
        transform: translate(#{$i * 100px}, #{$i * 50px});
        //fill: #343434;
        
        &:hover {
          //fill: #27455d;
        }
      }
    }
  }