<div>
    <app-tile-download-window></app-tile-download-window>

    <app-tileset-list-window></app-tileset-list-window>

    <app-menu></app-menu>

    <!-- <pan-zoom [config]="panZoomConfig" [ngClass]="isPanning ? 'grabbing' : ''" > -->
    <!-- <app-viewport></app-viewport> -->

    <!-- </pan-zoom> -->
    <app-viewport-canvas></app-viewport-canvas>

    <app-tile-selection-menu *ngIf="(selectedTool$|async) == 'tool-tile'"></app-tile-selection-menu>
    <app-furniture-selection-menu *ngIf="(selectedTool$|async) != 'tool-tile'"></app-furniture-selection-menu>

    <router-outlet></router-outlet>
</div>