<div style="position: absolute; height: 60%; width: 20%; background-color: lightgray; top: 0px; right: 0px; overflow-y: auto;">
    <ng-container *ngFor="let tile of getIndividualTiles(); let i = index">
        <!-- <img (click)="setSelectedTile(tile.name!)" ngClass="getSelectedTile() == tile.name!" [src]="tile.url" alt="Tile"> -->
        <img (click)="setSelectedTile(tile.name!)" [ngClass]="getSelectedTile() == tile.name! ? 'highlighted-tile' : ''" 
        [src]="tile.url" alt="Tile" class="tile">
      </ng-container>
</div>

<div style="position: absolute; height: 40%; width: 20%; background-color: lightgray; bottom: 0px; right: 0px;">
  <p (click)="setSelectedLayer('Walls')" [ngClass]="getSelectedLayer() == 'Walls' ? 'selected-layer' : ''">Walls</p>
  <p (click)="setSelectedLayer('Floor')" [ngClass]="getSelectedLayer() == 'Floor' ? 'selected-layer' : ''">Floor</p>
</div>