.window {
    position: absolute;
    width: 100%;
    height: 100%;
    background: gray;
    display: flex;
    align-items: flex-start; 
    justify-content: center;
    z-index: 999;
    flex-direction: row;
}

.col {
    flex: 1;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.square {
    height: 100px;
    width: 100px;
    margin: 10px;
}

.project-button {
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
}